@use '../../style.scss';

.container {
    background-color: style.$bg-color;
    justify-content: center;
    background-color: style.$white-color;
    border-radius: 12px;
    padding: 30px 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

    &__title{
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid style.$border-color;

        &:focus {
            border-color: style.$border-focus-color;
        }

        &:hover {
            border-color: style.$border-hover-color;
        }
    }
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
  
.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: style.$border-focus-color;
    padding: 12px 40px;
    border-style: none;
    border-radius: 5px;
    color: style.$white-color;
    margin-bottom: 10px;

    &:hover{
        background-color: style.$border-hover-color;
    }

    @media (max-width: style.$responsive-breakpoint) {
        width: 100%;
        padding: 12px;
    }
}