<div class="about">
  <h2 class="about__title">Work Experience</h2>
  <div class="about__details">
    <div class="custom">
      <img class="experienceImg1" alt="">
      <div class="custom_details">
        <h2 class="custom_details--title">Persistent Digital</h2>
        <p>Implemented advanced features including payment gateway, complex
          lifecycle management, Google Maps integration, Crashlytics for error
          tracking, and push notifications, enhancing app performance along with
          user session management.</p>
        <div class="custom_details--links">
          <a
          href="https://persistentdigitalcommerce.in/"
          target="_blank"
          aria-label="Github Link"
          ><i class="fa-solid fa-briefcase"></i> Flutter Developer Intern</a>
        <a
          href="https://persistentdigitalcommerce.in/"
          target="_blank"
          aria-label="Site Link"
          ><i class="fa-solid fa-clock"></i>Jan 2024 - Aug 2024</a>
        <a
          href="https://persistentdigitalcommerce.in/"
          target="_blank"
          aria-label="Site Link"
          ><i class="fa-solid fa-link"></i>Link</a>
        </div>
      </div>
    </div>
    <div class="custom row-reverse">
      <img class="experienceImg2" alt="">
      <div class="custom_details">
        <h2 class="custom_details--title">Freshnic AGBUSS Pvt Ltd</h2>
        <p>Deployed the first version of the "Agrichikitsa" app on Google Play
          Store, providing farmers access to essential agricultural resources.Implemented Chatbot feature, a comprehensive social media platform
          exclusively dedicated to agricultural content, multilingual support
          (English and Hindi), integrated multiple APIs.</p>
        <div class="custom_details--links">
          <a
          href="https://github.com/HidayatBukhari01"
          target="_blank"
          aria-label="Github Link"
          ><i class="fa-solid fa-briefcase"></i>Developer Intern</a>
        <a
          href="https://github.com/HidayatBukhari01"
          target="_blank"
          aria-label="Github Link"
          ><i class="fa-solid fa-clock"></i>June 2023 - Dec 2023</a>
        <a
          href="https://github.com/HidayatBukhari01"
          target="_blank"
          aria-label="Github Link"
          ><i class="fa-solid fa-link"></i>Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
