<div class="about">
  <h2 class="about__title">Work Experience</h2>
  <div class="about__details">
    <div class="container">
      <div class="experience__header">
        <div>
          <h3>Persistent Digital Commerce</h3>
          <p>Flutter Developer Intern</p>
        </div>
        <p>Jan 2024 - Aug 2024</p>
      </div>
      <ul class="experience__details">
        <li>
          Deployed the first version of the "Agrichikitsa" app on Google Play
          Store, providing farmers access to essential agricultural resources. -
          <a href="https://persistentdigitalcommerce.in/" target="_blank"
            >Link</a
          >
        </li>
        <li>
          Implemented advanced features including payment gateway, complex
          lifecycle management, Google Maps integration, Crashlytics for error
          tracking, and push notifications, enhancing app performance along with
          user session management.
        </li>
        <li>
          Resolved critical lifecycle bugs, enhanced the app's UI and
          implemented complex cart logic, optimizing the shopping experience and
          integrated MVVM architecture along with Provider for efficient state
          management.
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="experience__header">
        <div>
          <h3>Freshnic AGBUSS Pvt Ltd</h3>
          <p>Developer Intern</p>
        </div>
        <p>June 2023 - Dec 2023</p>
      </div>
      <ul class="experience__details">
        <li>
          Deployed the first version of the "Agrichikitsa" app on Google Play
          Store, providing farmers access to essential agricultural resources. -
          <a href="https://www.agrichikitsa.com/" target="_blank">Link</a>
        </li>
        <li>
          Implemented Chatbot feature, a comprehensive social media platform
          exclusively dedicated to agricultural content, multilingual support
          (English and Hindi), integrated multiple APIs.
        </li>
        <li>
          Worked on admin panel using React and created necessary APIs using
          Node, Express and MongoDB.
        </li>
      </ul>
    </div>
  </div>
</div>
