<footer>
  <div class="main-footer">
    <div class="main-footer__head">
      <ul class="main-footer__head-links">
        <li><a href="#">Home</a></li>
        <li><a href="" id="about">About</a></li>
        <li><a href="" id="contact">Contact</a></li>
      </ul>
      <div class="main-footer__contact">
        <h4>Follow me on</h4>
        <div class="details__socials">
          <a
            href="https://www.linkedin.com/in/hidayat-bukhari"
            target="_blank"
            aria-label="Linkedin Link"
            ><i class="fa-brands fa-linkedin fa-xl"></i
          ></a>
          <a
            href="https://x.com/HidayatBukhari4"
            target="_blank"
            aria-label="Twitter Link"
            ><i class="fa-brands fa-twitter fa-xl"></i
          ></a>
          <a
            href="https://github.com/HidayatBukhari01"
            target="_blank"
            aria-label="Github Link"
            ><i class="fa-brands fa-github fa-xl"></i
          ></a>
        </div>
      </div>
    </div>
    <p class="main-footer__title">&copy; Use any element you want to!❤️.</p>
  </div>
</footer>
